[data-role="page"] {
   max-width: 62.5em !important;
   margin: 0 auto !important;
   position: relative !important;
}

@media (min-width: 50em) {
   [data-role="page"] {
      padding-left: 17em;
   }
}

